body{
    background-color:gray;
}
.h1{
    color:mediumblue;
    font-family:"Arial Black";
    font-size:xx-large;

}
.h2{

    font-family: "Bell MT";
    font-size: medium;
    color:white;
}
.MyshortDesc{
    color:yellow;
    font-size: medium;
}
.column {
    float: left;
    width: 50%;
    padding: 1px;

}


.row::after {
    content: "";
    clear: both;
    display: table;
}
.row {
    display: flex;
    color: white;
}

.column {
    flex: 25%;
    padding: 1px;
}
.h3{
    color: mediumblue;
    font-size: large;
    font-family:"Trebuchet MS";
}
#ul1{
    color:white;
    font-family: Verdana;
}
#ul2{
    color:white;
    font-family: Verdana;
}
#ul3{
    color:white;
    font-family: Verdana;
}
.hr{
    color: white;
}
.lclass{
    text-decoration: none;

}
.lclass:hover{
    text-decoration: underline;

}